<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".AnimalsLevelTwo10" />
        <activity android:name=".AnimalsLevelTwo9" />
        <activity android:name=".AnimalsLevelTwo8" />
        <activity android:name=".AnimalsLevelTwo7" />
        <activity android:name=".AnimalsLevelTwo6" />
        <activity android:name=".AnimalsLevelTwo5" />
        <activity android:name=".AnimalsLevelTwo4" />
        <activity android:name=".AnimalsLevelTwo3" />
        <activity android:name=".AnimalsLevelTwo2" />
        <activity android:name=".AnimalsLevelTwo1" />
        <activity android:name=".AnimalsLevelOne10" />
        <activity android:name=".AnimalsLevelOne9" />
        <activity android:name=".AnimalsLevelOne8" />
        <activity android:name=".AnimalsLevelOne7" />
        <activity android:name=".AnimalsLevelOne6" />
        <activity android:name=".AnimalsLevelOne5" />
        <activity android:name=".AnimalsLevelOne4" />
        <activity android:name=".AnimalsLevelOne3" />
        <activity android:name=".AnimalsLevelOne2" />
        <activity android:name=".AnimalsLevelOne" />
        <activity android:name=".NumbersLevelThree10" />
        <activity android:name=".NumbersLevelThree9" />
        <activity android:name=".NumbersLevelThree8" />
        <activity android:name=".NumbersLevelThree7" />
        <activity android:name=".NumbersLevelThree6" />
        <activity android:name=".NumbersLevelThree5" />
        <activity android:name=".NumbersLevelThree4" />
        <activity android:name=".NumbersLevelThree3" />
        <activity android:name=".NumbersLevelThree2" />
        <activity android:name=".NumbersLevelTwo10" />
        <activity android:name=".NumbersLevelTwo9" />
        <activity android:name=".NumbersLevelTwo8" />
        <activity android:name=".NumbersLevelTwo7" />
        <activity android:name=".NumbersLevelTwo6" />
        <activity android:name=".NumbersLevelTwo5" />
        <activity android:name=".NumbersLevelTwo4" />
        <activity android:name=".NumbersLevelTwo3" />
        <activity android:name=".NumbersLevelTwo2" />
        <activity android:name=".NumbersLevelOne10" />
        <activity android:name=".NumbersLevelOne9" />
        <activity android:name=".NumbersLevelOne8" />
        <activity android:name=".NumbersLevelOne7" />
        <activity android:name=".NumbersLevelOne6" />
        <activity android:name=".NumbersLevelOne5" />
        <activity android:name=".NumbersLevelOne4" />
        <activity android:name=".NumbersLevelOne3" />
        <activity android:name=".NumbersLevelOne2" />
        <activity android:name=".NumbersLevelThree" />
        <activity android:name=".NumbersLevelTwo" />
        <activity android:name=".NumbersLevelOne" />
        <activity android:name=".AlphabetLevelThree6" />
        <activity android:name=".AlphabetLevelThree5" />
        <activity android:name=".AlphabetLevelThree4" />
        <activity android:name=".AlphabetLevelThree3" />
        <activity android:name=".AlphabetLevelThree2" />
        <activity android:name=".AlphabetLevelThree" />
        <activity android:name=".AlphabetLevelTwo9" />
        <activity android:name=".AlphabetLevelTwo8" />
        <activity android:name=".AlphabetLevelTwo7" />
        <activity android:name=".AlphabetLevelTwo6" />
        <activity android:name=".AlphabetLevelTwo5" />
        <activity android:name=".AlphabetLevelTwo4" />
        <activity android:name=".AlphabetLevelTwo3" />
        <activity android:name=".AlphabetLevelTwo2" />
        <activity android:name=".AlphabetLevelTwo" />
        <activity android:name=".AlphabetLevelOne11" />
        <activity android:name=".AlphabetLevelOne10" />
        <activity android:name=".AlphabetLevelOne9" />
        <activity android:name=".AlphabetLevelOne8" />
        <activity android:name=".AlphabetLevelOne7" />
        <activity android:name=".AlphabetLevelOne6" />
        <activity android:name=".AlphabetLevelOne5" />
        <activity android:name=".AlphabetLevelOne4" />
        <activity android:name=".AlphabetLevelOne3" />
        <activity android:name=".AlphabetLevelOne2" />
        <activity android:name=".AlphabetLevelOne" />
        <activity android:name=".ProgressPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".AnimalsGame" />
        <activity android:name=".NumbersGame" />
        <activity android:name=".AlphabetGame" />
        <activity android:name=".ChooseGame" />
        <activity android:name=".Home_Screen" />
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>